**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/charts
**/docker-compose*
**/compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
LICENSE
README.md

__tests__
.eslint*
.git
.husky
.nvmrc
.prettier*
.vscode
cache
coverage
coverage-e2e
db
dbml
dist
docker-compose*
docker-services
Dockerfile
docs
examples
node_modules
test
proxy
scripts

/configs/http2/security/certificates/*
!/configs/http2/security/certificates/README.md
/configs/http2/security/keys/*
!/configs/http2/security/keys/README.md
/logs/*
!/logs/error.log
!/logs/exceptions.log
!/logs/rejections.log
.env
.keys